.habit {
    display:flex;
}

.habitText {
    display:flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
    height: 5vw;
    color: #e5e5e5;
    background: #23374d;
    border-radius: 3px;
    margin-top:2.7%;
    margin-left: 2%;
    width: 30%;

}

.habitText:hover {
    background: black;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;

}
.deleteButton {
    color: #1089ff;
    text-transform: uppercase;
    text-decoration: none;
    background: #23374d;
    height: 100%;
    margin-top:2.5%;
    font-size:2vw;
    margin-left:30%;
    padding: 20px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
    }

.deleteButton:hover {
    background: black;
    letter-spacing: 1px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
    cursor: pointer;
    }

    .mainViewTitle {
        font-size: 7vw;
        margin-left: 35%;
        margin-top:5%;
        color: white;
    }

    .makeButton {
        color: #1089ff;
        text-transform: uppercase;
        text-decoration: none;
        background: #23374d;
        height: 100%;
        margin-top:2.5%;
        font-size:2vw;
        margin-left:45%;
        padding: 20px;
        border-radius: 5px;
        display: inline-block;
        border: none;
        transition: all 0.4s ease 0s;
        }
    
    .makeButton:hover {
        background: black;
        letter-spacing: 1px;
        -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
        -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
        box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
        transition: all 0.4s ease 0s;
        cursor: pointer;
        }

    .habitLister {
        margin-left: 45%;
        margin-top:5%;
    }