.NewListViewContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.habitPlus {
  height: 4vw;
  width: 4vw;
}

.habitPlus:hover {
  background-color: green;
}

.habitContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#habitAdder {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  border-bottom: #23374d 2px solid;
}

.addText {
  margin-top: 5%;
  margin-right: 3%;
  width: 10vw;
  color: #ececeb;
}
.inputField {
  margin-top: 5%;
  margin-right: 5%;
  background-color: white;
  font-size: 2vw;
  height: 100%;
  width: 20%;
  border: black;
  border-radius: 2px;
  color: black;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #1089ff;
  opacity: 0.3; /* Firefox */
}

.button {
  color: #1089ff;
  text-transform: uppercase;
  text-decoration: none;
  background: #ececeb;
  height: 5vw;
  font-size: 2vw;
  margin-top: 7%;
  padding: 20px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
  margin-bottom: 3%;
}

.button:hover {
  background: black;
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.4s ease 0s;
  cursor: pointer;
}

.timeSelector {
  width: 10px;
}

.timeContainer {
  margin-top: 3%;
  margin-right: 5%;
}
